<div class="jumbotron">
    <h1>Live life.</h1>
    <h2>Where will your next adventure take you?</h2>
    <p>
        <form class="form-inline container-fluid" action="/home/search" method="post">
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		    <div class="form-group full-width">
	            <label class="sr-only" for="InputSearch">Where do you want to go next?</label>
		        <div class="input-group full-width">
		              <!-- <div class="input-group-addon">$</div> -->
		            <input type="text" class="form-control" id="InputSearch" placeholder="Where do you want to go next?" autofocus name="area">
	        
	                <div class="input-group-addon">
	                       <button type="submit" class="btn btn-link full-width no-padding">
	                           <i class="fa fa-search">
	                           </i>
	                       </button>
	                </div>
	            </div>
		      
	        
		    </div>
		</form>
        
        
        
    </p>
</div>


<div class="row">
    <h3>Explore the world</h3>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel panel-body">
                Test
            </div>
        </div>
    </div>
</div>

