<div class="jumbotron">
    <h1>There's always something new to explore</h1>
</div>

<div class="row">
    <div class="col-md-8">
    <form class="form-inline container-fluid" action="/home/search" method="post">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	    <div class="form-group full-width">
            <label class="sr-only" for="InputSearch">Where do you want to go next?</label>
	        <div class="input-group full-width">
	              <!-- <div class="input-group-addon">$</div> -->
	            <input type="text" class="form-control" id="InputSearch" placeholder="Where do you want to go next?" autofocus name="area">
        
                <div class="input-group-addon">
                       <button type="submit" class="btn btn-link full-width no-padding">
                           <i class="fa fa-search">
                           </i>
                       </button>
                </div>
            </div>
	      
        
	    </div>
	</form>
    <br>
    
        <div class="row">
            <!--< SOMETHING.each do |locations| >-->
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel panel-body">
                            <!--insert ruby code for writing images-->
                            Holiday Image 1
                        </div>
                    </div>
                </div>
            <!--< end >-->
        </div>
    
    </div>
    <div class="col-md-4 col-offset-8">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    Holiday Cart
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel panel-body">
                    Holiday Cart 2
                </div>
            </div>
        </div>
    </div>

</div>